# Virtual environment
.lgr/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

